html {
    color: greenyellow;
    background-color: black;
}

.SteamProfile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Name {
    font-size: large
}

.SteamProfile {
    animation-name: Load;
    animation-duration: 1s;
}

@keyframes Load {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}