html {
    color: greenyellow;
    background-color: black;
}

.Name {
    font-size: large
}

.SteamProfile {
    text-align: center;
    animation-name: Load;
    animation-duration: 1s;
}

.ScheduleBoard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: Load;
    animation-duration: 1s;
    

    border-style: solid;
    width: 300px;
    height: 300px
}

@keyframes Load {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}